<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {{ with .Title }}<title>{{ . }}</title>{{ end }}
  {{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="all,follow" >
  <meta name="googlebot" content="index,follow,snippet,archive" >
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,300,700,400italic" >
  <link rel="stylesheet" href="{{ "css/font-awesome.min.css" | absURL }}" />
  
  <meta name="google-site-verification" content="agjsDt8HXS4yYizS-kj6OnNXvJ-3J-ONvc2vVejs4ZQ" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.0/css/mdb.min.css" />
  <link href="{{ .Site.BaseURL }}css/style.css" rel="stylesheet" />
  
  <link rel="shortcut icon" href="{{ "img/favicon.png" | absURL }}" />
  {{ if .RSSLink }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
  {{ end }}
  
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/tychobra-hljs.css">
  <!-- Andy added 2017-03-18 -->
  <script src="{{ .Site.BaseURL }}js/highlight.pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  
  <link href="{{ .Site.BaseURL }}css/simplesidebar.css" rel="stylesheet" >
  {{ template "_internal/google_analytics_async.html" . }}
</head>

<body>
  
    
            